<div id="robber">
  <h3>{{character.name}}!</h3>
  <img src="{{character.image}}" alt="{{character}}" >
  <h4>Pick one to steal!</h4>
  {% for player in player_cards %}
  <h4 class="pick-one robber" data-robber-id="{{initiator.id}}" data-victim-id="{{player.id}}">{{ player.user.username }}'s card</h4>
  <div class="disabled">
    <div class="text-center">
      {{ player.character.name }}
      <img class="character-image" src="{{player.character.image}}" alt="{{player.character}}" >
    </div>
  </div>
  {% endfor %}
</div>
