<div id="seer">
  <h3>{{character.name}}!</h3>
  <img src="{{character.image}}" alt={{character}} >
  <h4>Pick one to look at!</h4>
  <h4 class="pick-one seer">Middle Cards</h4>
  <div class="disabled">
    {% for character in middle_cards %}
    <div class="text-center">
      {{ character.name }}
      <img class="character-image" src="{{character.image}}" alt="{{character}}" >
    </div>
    {% endfor %}
  </div>

  {% for player in player_cards %}
  <h4 class="pick-one seer">{{ player.user.username }}'s card</h4>
  <div class="disabled">
    <div class="text-center">
      {{ player.character.name }}
      <img class="character-image" src="{{player.character.image}}" alt="{{player.character}}" >
    </div>
  </div>
  {% endfor %}
</div>
