<div>
  <h3>{{character.name}}!</h3>
  <img src="{{character.image}}" alt={{character}} >
  <h4>Middle Cards</h4>
  {% for character in middle_cards %}
  <div class="character text-center">
    {{ character.name }}
    <img class="character-image" src="{{character.image}}" alt="{{character}}" >
  </div>
  {% endfor %}

  <h4>Player Cards</h4>
  {% for player in player_cards %}
  <div class="character text-center">
    {{ player.user.username }}: {{ player.character.name }}
    <img class="character-image" src="{{player.character.image}}" alt="{{player.character}}" >
  </div>
  {% endfor %}
</div>
