asgi-redis==0.10.0
asgiref==0.11.2
autobahn==20.12.3
channels==0.11.0
contextlib2==0.5.1
daphne==0.10.3
dj-database-url==0.4.1
dj-static==0.0.6
Django==2.2.27
django-registration==2.0.4
gunicorn==19.5.0
haikunator==1.0.1
msgpack-python==0.4.7
psycopg2==2.6.1
raven==5.12.0
redis==2.10.5
six==1.10.0
static3==0.6.1
Twisted==22.1.0
txaio==2.3.1
zope.interface==4.1.3
