.game-box{
  margin: 3px;
  border: 2px solid #666666;
  font-size: 1.5em;
  cursor: pointer;
}

.active {
  border: 5px solid green;
}

.chosen {
  background: orange;
}

.waiting {
  color: red;
}

.characters {
  overflow: hidden; /* simple clearfix */
}

.character {
  display: block;
  float: left;
  width: calc(100% / 3);
  height: 10em;
  box-sizing: border-box;
  padding: 2px;
}

.character-image {
  max-width:100%;
  max-height:calc(100% - 30px - 1em);
}
