{% extends "werewolf/layout.html" %}

{% block body %}

{% if error_message %}
  {{error_message}}
{% endif %}

<div id="game-info" data-game-name="{{ game.name }}" data-request-user="{{user.id}}" data-username="{{user.username}}" class="container">
  <h1>{{ game.name }}</h1>
  <h3>Users in game: <span id="game-size">{{game.num_users}}</span></h3>
  <h3> Ready users: </h3>
  <ul id="ready-user-list">
    {% for u in game.present %}
    <li class="ready-user">{{u}}</li>
    {% endfor %}
  </ul>
  <h4>People here: {{game.num_present}}</h4>
  <div id="buttons">
    <button type="submit" id="ready">Ready!</button>
  </div>
  <p class="quiet">
    Anyone with this URL can join the room and chat:
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ game.name }}</code>
  </p>
  <p>
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle">
  </p>
</div>

{% endblock %}
