{% extends "werewolf/layout.html" %}

{% block body %}

{% if error_message %}
  {{error_message}}
{% endif %}

<div id="game-info" data-game-name="{{ game.name }}" data-request-user="{{user.id}}" data-username="{{user.username}}" class="container">
  <h1>{{ game.name }}</h1>
  <h3>Users in game: <span id="game-size">{{game.num_users}}</span></h3>
  <h3> Ready users: </h3>
  <ul id="ready-user-list">
    {% for u in game.present %}
    <li class="ready-user">{{u}}</li>
    {% endfor %}
  </ul>
  <div id="buttons">
    <button type="submit" id="ready">Ready!</button>
  </div>
  <p class="quiet">
    URL to join:
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ game.name }}</code>
  </p>
  <div class="characters">
    {% for character in characters %}
    <div class="character text-center">
      <p>{{character}}</p>
      <img class="character-image" src="{{character.image}}" alt={{character}} />
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
