{% extends "werewolf/layout.html" %}

{% block body %}

{% if error_message %}
  {{error_message}}
{% endif %}

<div id="game-info" data-game-name="{{ game.name }}" data-request-user="{{user.id}}" class="container">
  <h1>{{ game.name }}</h1>
  <h3>Users in game: {{game.num_users}}</h3>
  <h3> Ready users: </h3>
  {% for u in game.present %}
    <h4>{{u}}</h4>
  {% endfor %}
  <h4>People here: {{game.num_present}}</h4>
  <button type="submit" id="ready">Ready!</button>
  <p class="quiet">
    Anyone with this URL can join the room and chat:
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ game.name }}</code>
  </p>
  <p>
    <label for="handle">Your name:</label>
    <input id="handle" type="text" placeholder="handle">
  </p>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
        <tr>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <button type="submit" id="go">Say it</button>
        </td>
      </tfoot>
    </table>
  </form>
</div>

{% endblock %}
