<!doctype html>
{% load staticfiles %}

<head>
  <title>Codenames</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'werewolf/images/favicon.ico' %}" />
  <!-- Source Sans Pro Font -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" type="text/css" href="{% static 'werewolf/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'werewolf/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'werewolf/css/style.css' %}" />
</head>

<body>
  {% include "werewolf/header.html" %}

  {% block body %}

  {% endblock %}
  <div id="user-info" data-request-user="{{user.id}}"></div>
  <script type="text/javascript" src="{% static 'werewolf/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'werewolf/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'werewolf/js/main.js' %}"></script>
</body>
