{% extends "werewolf/layout.html" %}

{% block body %}

<div class="container text-center">
<h4>Your games:</h4>

  <h4 class="game-title">Active Games:</h4>
  {% for game in unstarted_games %}
  <div class="row game-box">
    <a href="{% url 'game' name=game.name %}">{{ game }}</a>: Created {{ game.created_date }} <br />
    Players: {{ game.users.all }}
  </div>
  {% endfor %}

  <h4 class="game-title">Completed games:</h4>
  {% for game in started_games %}
  <div class="row game-box">
    <a href="{% url 'game' name=game.name %}">{{ game }}</a>: Created {{ game.created_date }} <br />
    Players: {{ game.users.all }}
  </div>
  {% endfor %}

</div> <!--End container -->
{% endblock %}
