.word-card{
  margin: 3px;
  border: 2px solid navy;
  font-size: 1.5em;
  cursor: pointer;
}

.active {
  border: 5px solid green;
}

.chosen {
  border: 5px solid orange;
}

.waiting {
  color: red
}
